.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b5d3e7;
  color: white;
}

.links{
  width: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.column {
  float: left;
  width: 22.22%;
  padding: 3px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.box {
  margin: 20px;
}

.grids {
  max-width: 50%;
  margin: auto;
}

.navBar{
  width: 100px;
  height: 65px;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 2px ;

}
